# Database Credentials
POSTGRES_DB=restaurant_saas_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword

# JWT Security
APP_JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
APP_JWT_EXPIRATION_MS=86400000

# Server Environment
NODE_ENV=production
SPRING_PROFILES_ACTIVE=prod
NEXT_PUBLIC_API_URL=/api/v1
